.alert p,
.card h2,
.card h3,
.card p,
.menu-item p,
.menu-item i,
.table-container h2,
th,
td {
  color: var(--lui-color-neutral-dark-text-body) !important;
}
.alert i {
  color: #339bf0 !important;
}
.alert-actions button:first-child {
  margin: 0;
}
.modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}
.modal-item {
  padding: 24px;
  border: 1px solid var(--lui-color-neutral-light-border-divisor);
}
.modal-item-active {
  border: 2px solid var(--lui-color-brand-accent-border-stroke);
}
.menu-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 12px;
}
.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  transition: 160ms ease-in-out;
}
.menu-item:hover {
  background-color: #0000000c;
}
.menu-item:active {
  background-color: #0000001a;
}
.separator-space {
  padding: 8px 12px;
}
.separator {
  height: 1px;
  width: 100%;
  background-color: #C7CAD4;
}
.shortcut {
  border: 1px solid var(--lui-color-neutral-light-border-divisor);
  padding: 2px 4px;
  border-radius: 8px;
}
.shortcut p {
  color: var(--lui-color-neutral-dark-text-body) !important;
}
.code-block {
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 12px;
  font-family: 'Google Sans Code', 'Courier New', monospace;
  font-size: 14px;
  overflow-x: auto;
  display: inline-block;
}
.code-block table {
  border-collapse: collapse;
}
.code-block td {
  vertical-align: top;
  white-space: pre;
}
td.line-number {
  color: #6E7681 !important;
  padding-right: 1rem;
  text-align: right;
  user-select: none;
}
td.light-blue::before {
  content: '--lui-typography-scale-'
}
.pink { color: #CC69B4 !important; }
.light-blue { color: #9CDCFE !important; }
.blue { color: #179FFF !important; }
.orange { color: #C97F5C !important; }
.yellow { color: #FFD705 !important; }

.card-auto-layout,
.modal,
.alert,
.menu-dropdown {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.04), 0 12px 20px rgba(0, 0, 0, 0.12);
}