* {
    color: var(--lui-color-neutral-light-text-body) !important;
    margin: var(--lui-spacing-fixed-0);
    padding: var(--lui-spacing-fixed-0);
    box-sizing: border-box;
}

body, html {
    background-color: #090A0B !important;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

a { text-decoration: none; }
i { font-size: var(--lui-spacing-scale-150); }

main > section > hgroup > h1 {
    font-size: clamp(6rem, 10vw, 7.5rem);
    font-weight: var(--lui-typography-weight-bold);
    line-height: var(--lui-typography-line-height-md);
    letter-spacing: clamp(-2px, -0.5vw, -5px);
}

.image {
    display: inline-block !important;
    position: relative;
}

.mood,
.scroll-container,
.card-glass,
.card-gadgets {
    display: flex;
}

.mood {
    z-index: 1;
    position: absolute;
    top: -24px;
    right: -24px;
    align-items: center;
    justify-content: center;
    background-color: #090a0b;
    border: 1px solid #383b3f;
    width: fit-content;
    font-size: var(--lui-spacing-scale-200);
    width: var(--lui-spacing-fixed-64);
    height: var(--lui-spacing-fixed-64);
    border-radius: var(--lui-border-radius-circle);
    transition: max-width 0.3s ease;
}

.mood span {
    padding-bottom: 4px;
}

.tooltip-text {
    position: absolute;
    visibility: hidden;
    width: max-content;
    text-align: center;
    background-color: #2c2c31;
    opacity: var(--lui-spacing-fixed-0);
    color: var(--lui-color-neutral-light-text-body);
    padding: var(--lui-spacing-fixed-4) var(--lui-spacing-fixed-8);
    border-radius: var(--lui-border-radius-8);
    z-index: 10;
    transition: opacity 0.3s;
}

.mood:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Container com scroll horizontal fluido */
.scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100vh;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: var(--lui-spacing-fixed-80);
    gap: var(--lui-spacing-fixed-16);
}

/* Card */
.card-glass {
    height: fit-content;
    padding: var(--lui-spacing-fixed-32);
    background: hsl(0deg 0% 54% / 4%);
    border-radius: var(--lui-spacing-fixed-32);
    border: 1px solid hsl(210, 2%, 22%);
    color: var(--lui-color-neutral-light-layer-bg-surface);
    flex-direction: column;
    gap: 16px;
}

.setup-icon {
    padding: var(--lui-spacing-fixed-8);
    color: var(--lui-color-neutral-light-text-body);
    width: var(--lui-spacing-fixed-40);
    height: var(--lui-spacing-fixed-40);
    background-color: #2B2C2D;
    border: 1px solid #373839;
    border-radius: var(--lui-border-radius-circle);
}

.setup-icon i { font-size: 1.5rem }

.gadgets { flex-wrap: wrap; }
ul.gadgets li { margin-bottom: 0; }

/* Tabs */
.tab-container {
    color: var(--lui-color-neutral-light-text-body);
    background: hsl(0deg 0% 54% / 4%);
    border: 1px solid hsl(210, 2%, 22%);
    border-radius: var(--lui-spacing-fixed-32);
    overflow: hidden;
    margin-bottom: 16px;

    [role=tablist] {
        display: flex;
        margin: 0;
        padding: 0;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    [role=tab] {
        margin-top: var(--lui-spacing-fixed-8);
        padding: var(--lui-spacing-fixed-16);
        position: relative;
        text-align: center;
        cursor: pointer;
        flex-grow: 1;

        &:hover {
            background: #eeeeee28;
        }

        &[aria-selected=true] {
            color: var(--lui-color-neutral-light-text-body);

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: var(--lui-spacing-fixed-4);
                background: #7f74c2;
                left: 0;
                bottom: 0;
            }
        }
    }

    section {
        position: relative;
    }

    section [role=tabpanel] {
        display: none;

        &[aria-expanded=true] {
            display: block;
        }
    }
}

.tools ul li {
    margin-bottom: var(--lui-spacing-fixed-8);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 8px !important;
}

/* Desktop */
@media (min-width: 769px) {
    .card-gadgets {
        flex-direction: column;
        align-items: end;
        justify-content: end;
        gap: var(--lui-spacing-fixed-64);
        margin-left: calc(var(--lui-spacing-fixed-80) * 4 );
    }

    .stack {
        width: 338px;
    }

    .playlists {
        width: 480px;
    }

    .tools {
        width: 560px;
        height: 100%;
        margin-left: 48px;
    }

    .card-lets-ui {
        width: 480px;
    }

    .lets-ui-section {
        display: flex;
        align-items: center;
        margin-left: calc(var(--lui-spacing-fixed-80) * 4 );
    }

    main {
        section {
            hgroup {
                margin-top: -218px;
                h1 {
                    white-space: nowrap;
                }

                h2 {
                    margin-left: 40px;
                }
            }
                        
            .image {
                img {
                    margin-left: 64px;
                    border-radius: 32px;
                }
            } 
            > p {
                color: #ffffff;
                margin-left: 42px;
                margin-top: 5rem;
                min-width: 720px;
            }

            .social-media {
                margin-left: 34px;
                margin-top: 2rem;
                gap: 0.5rem;
            }
        }
    }

    .footer-text {
        position: absolute;
        bottom: var(--lui-spacing-fixed-24);
        left: var(--lui-spacing-fixed-24);
    }

    .mobile-grid {
        display: none;
    }

    .tooltip-text {
        top: 50%;
        left: 100%;
        transform: translateY(-50%) translateX(8px);
        white-space: nowrap;
    }

    .card-lets-ui > img {
        width: 560px;
        position: relative;
        top: -40px;
        left: -80px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .card-lets-ui > img {
        width: 640px;
        position: relative;
        top: -40px;
        left: -80px;
    }
    
    html, body,
    .float-layer {
        display: flex;
    }

    html, body {
        font-size: 14px;
        overflow: auto;
        justify-content: center;
    }

    .float-layer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .float-layer > * {
        flex-shrink: 0;
    }


    main {
        text-align: center;
        margin: 40px 0 40px 0;

        section {
            hgroup {
                margin-top: -80px;
                margin-bottom: var(--lui-spacing-fixed-40);

                h1 {
                    line-height: 1.1;
                }
            }
        }
    }

    .social-media,
    .footer-text {
        justify-content: center;
    }

    .float-layer,
    .card-gadgets {
        flex-direction: column;
    }

    .social-media {
        margin-top: var(--lui-spacing-fixed-16);
    }

    .footer-text {
        flex-wrap: wrap;
    }

    .float-layer {
        padding: var(--lui-spacing-fixed-16);
    }

    h1 {
        line-height: 1.1;
    }

    .card-gadgets {
        gap: var(--lui-spacing-fixed-40);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: clamp(1rem, 2vw, 2rem);
        margin-bottom: clamp(1rem, 2vw, 2rem);
        align-items: start;
    }
    .grid:last-of-type {
        margin-bottom: 0;
    }
    .col-sm-1 {
        grid-column: span 1;
    }
    .col-sm-2 {
        grid-column: span 2;
    }
    .col-sm-3 {
        grid-column: span 3;
    }
    .col-sm-4 {
        grid-column: span 4;
    }

    .scroll-container {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
        padding: var(--lui-spacing-fixed-16);
    }

    .tooltip-text {
        max-width: 160px;
        right: 120%;
    }
}

/* Motion */
.ease-entrance-default { animation: easeEntranceDefault 1s ease 0s 1 normal forwards; }
.ease-entrance-longer { animation: easeEntranceLonger 1.4s ease 0s 1 normal forwards; }
.ease-entrance-longer-2 { animation: easeEntranceLonger2 1.4s ease 0s 1 normal forwards; }

@keyframes easeEntranceDefault {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes easeEntranceLonger {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes easeEntranceLonger2 {
	0% {
		opacity: 0;
		transform: translateY(-120px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
