:root {
  --lui-border-radius-0: 0;
  --lui-border-radius-2: 2px;
  --lui-border-radius-4: 4px;
  --lui-border-radius-8: 8px;
  --lui-border-radius-12: 12px;
  --lui-border-radius-16: 16px;
  --lui-border-radius-circle: 1000000px;
  --lui-border-width-0: 0;
  --lui-border-width-1: 1px;
  --lui-border-width-2: 2px;
  --lui-border-width-4: 4px;
  --lui-border-button-radius-md: 12px;
  --lui-border-button-radius-sm: 8px;
  --lui-spacing-fixed-0: 0;
  --lui-spacing-fixed-2: 2px;
  --lui-spacing-fixed-4: 4px;
  --lui-spacing-fixed-8: 8px;
  --lui-spacing-fixed-12: 12px;
  --lui-spacing-fixed-16: 16px;
  --lui-spacing-fixed-20: 20px;
  --lui-spacing-fixed-24: 24px;
  --lui-spacing-fixed-32: 32px;
  --lui-spacing-fixed-40: 40px;
  --lui-spacing-fixed-48: 48px;
  --lui-spacing-fixed-56: 56px;
  --lui-spacing-fixed-64: 64px;
  --lui-spacing-fixed-72: 72px;
  --lui-spacing-fixed-80: 80px;
  --lui-spacing-fluid-50: 0.5vw;
  --lui-spacing-fluid-100: 1vw;
  --lui-spacing-fluid-200: 2vw;
  --lui-spacing-fluid-250: 2.5vw;
  --lui-spacing-fluid-300: 3vw;
  --lui-spacing-fluid-400: 4vw;
  --lui-spacing-fluid-500: 5vw;
  --lui-spacing-fluid-600: 6vw;
  --lui-spacing-scale-25: 0.25rem;
  --lui-spacing-scale-50: 0.5rem;
  --lui-spacing-scale-87: 0.875rem;
  --lui-spacing-scale-100: 1rem;
  --lui-spacing-scale-150: 1.5rem;
  --lui-spacing-scale-200: 2rem;
  --lui-spacing-scale-250: 2.5rem;
  --lui-spacing-scale-300: 3rem;
  --lui-spacing-scale-400: 4rem;
  --lui-spacing-scale-500: 5rem;
  --lui-opacity-hidden: 0;
  --lui-opacity-disabled: 40;
  --lui-opacity-visible: 100;
  --lui-typography-weight-light: 300;
  --lui-typography-weight-regular: 400;
  --lui-typography-weight-medium: 500;
  --lui-typography-weight-semibold: 600;
  --lui-typography-weight-bold: 700;
  --lui-typography-line-height-lg: 1.5;
  --lui-typography-line-height-md: 1.2;
  --lui-typography-line-height-sm: 1.125;
  --lui-typography-tracking-tightest: -2px;
  --lui-typography-tracking-tighter: -1px;
  --lui-typography-tracking-default: 0;
  --lui-typography-tracking-wider: 1px;
  --lui-typography-tracking-widest: 2px;
  --lui-typography-case-none: none;
  --lui-typography-case-uppercase: uppercase;
  --lui-typography-decoration-none: none;
  --lui-typography-decoration-underline: underline;
  --lui-typography-decoration-line-through: line-through;
  --lui-typography-scale-display: 300 clamp(2.245rem, 1.6579rem + 2.9357vw, 4.3rem)/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-title: 600 clamp(1.577rem, 1.3167rem + 1.3014vw, 2.488rem)/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-headline: 600 clamp(1.402rem, 1.21rem + 0.96vw, 2.074rem)/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-subtitle: 400 clamp(1.246rem, 1.1083rem + 0.6886vw, 1.728rem)/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-block-title: 500 clamp(1.107rem, 1.0119rem + 0.4757vw, 1.44rem)/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-subheadline: 400 clamp(0.984rem, 0.9223rem + 0.3086vw, 1.2rem)/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-overtitle: 600 clamp(0.778rem, 0.7623rem + 0.0786vw, 0.833rem)/1.2 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-body-lg: 400 1rem/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-body-md: 400 0.833rem/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-typography-scale-body-sm: 400 0.694rem/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --lui-color-info-background-surface: #ebf7ff;
  --lui-color-info-background-container: #339bf0;
  --lui-color-info-border-divisor: #ebf7ff;
  --lui-color-info-border-stroke: #339bf0;
  --lui-color-info-text-body: #03437b;
  --lui-color-info-text-heading: #001b33;
  --lui-color-info-icon-hard: #339bf0;
  --lui-color-info-icon-soft: #ebf7ff;
  --lui-color-danger-background-surface: #ffdbdb;
  --lui-color-danger-background-container: #d43332;
  --lui-color-danger-border-divisor: #ffdbdb;
  --lui-color-danger-border-stroke: #d43332;
  --lui-color-danger-text-heading: #3d0806;
  --lui-color-danger-text-body: #630d0b;
  --lui-color-danger-text-error-text: #d43332;
  --lui-color-danger-icon-hard: #d43332;
  --lui-color-danger-icon-soft: #ffdbdb;
  --lui-color-success-background-surface: #e6ffea;
  --lui-color-success-background-container: #2da943;
  --lui-color-success-border-divisor: #e6ffea;
  --lui-color-success-border-stroke: #2da943;
  --lui-color-success-text-heading: #010f04;
  --lui-color-success-text-body: #05360f;
  --lui-color-success-icon-hard: #2da943;
  --lui-color-success-icon-soft: #e6ffea;
  --lui-color-caution-background-surface: #ffc5ad;
  --lui-color-caution-background-container: #dc730d;
  --lui-color-caution-border-divisor: #ffc5ad;
  --lui-color-caution-border-stroke: #dc730d;
  --lui-color-caution-text-title: #522600;
  --lui-color-caution-text-body: #743800;
  --lui-color-caution-icon-hard: #dc730d;
  --lui-color-caution-icon-soft: #ffc5ad;
  --lui-color-neutral-light-background-surface: #ffffff;
  --lui-color-neutral-light-background-container: #c7cad4;
  --lui-color-neutral-light-border-divisor: #eeecf1;
  --lui-color-neutral-light-border-stroke: #6c7081;
  --lui-color-neutral-light-text-heading: #eeecf1;
  --lui-color-neutral-light-text-body: #ffffff;
  --lui-color-neutral-light-icon-default: #ffffff;
  --lui-color-neutral-dark-background-surface: #131519;
  --lui-color-neutral-dark-background-container: #6c7081;
  --lui-color-neutral-dark-border-divisor: #6c7081;
  --lui-color-neutral-dark-border-stroke: #545867;
  --lui-color-neutral-dark-text-heading: #131519;
  --lui-color-neutral-dark-text-body: #282b33;
  --lui-color-neutral-dark-icon-default: #131519;
  --lui-color-brand-accent-background-surface: #edd6ff;
  --lui-color-brand-accent-background-container: #8733ff;
  --lui-color-brand-accent-border-divisor: #edd6ff;
  --lui-color-brand-accent-border-stroke: #8733ff;
  --lui-color-brand-accent-text-heading: #25097a;
  --lui-color-brand-accent-text-body: #351093;
  --lui-color-brand-accent-icon-default: #8733ff;
  --lui-color-brand-accent-icon-contrast: #edd6ff;
  --lui-color-brand-accent-link-default: #8733ff;
  --lui-color-brand-accent-link-visited: #4d19b7;
  --lui-color-button-primary-background: #8733ff;
  --lui-color-button-primary-text: #ffffff;
  --lui-color-button-secondary-background: #6c7081;
  --lui-color-button-secondary-text: #ffffff;
  --lui-color-button-tertiary-text: #282b33;
  --lui-color-button-success-background: #2da943;
  --lui-color-button-success-text: #282b33;
  --lui-color-button-danger-background: #d43332;
  --lui-color-button-danger-text: #ffffff;
  --lui-color-button-inverse-background: #ffffff;
  --lui-color-button-inverse-text: #282b33;
  --lui-color-link-text-default: #8733ff;
  --lui-color-link-text-visited: #4d19b7;
  --lui-color-letsui-1: #edd6ff;
  --lui-color-letsui-2: #d9adff;
  --lui-color-letsui-3: #c184ff;
  --lui-color-letsui-4: #ab66ff;
  --lui-color-letsui-5: #8733ff;
  --lui-color-letsui-6: #6825db;
  --lui-color-letsui-7: #4d19b7;
  --lui-color-letsui-8: #351093;
  --lui-color-letsui-9: #25097a;
  --lui-color-blue-1: #ebf7ff;
  --lui-color-blue-2: #b3defd;
  --lui-color-blue-3: #7ec5fb;
  --lui-color-blue-4: #53aff7;
  --lui-color-blue-5: #339bf0;
  --lui-color-blue-6: #1c89e4;
  --lui-color-blue-7: #0c70c6;
  --lui-color-blue-8: #03437b;
  --lui-color-blue-9: #001b33;
  --lui-color-gray-1: #ffffff;
  --lui-color-gray-2: #eeecf1;
  --lui-color-gray-3: #c7cad4;
  --lui-color-gray-4: #979aa9;
  --lui-color-gray-5: #6c7081;
  --lui-color-gray-6: #545867;
  --lui-color-gray-7: #3d414d;
  --lui-color-gray-8: #282b33;
  --lui-color-gray-9: #131519;
  --lui-color-green-1: #e6ffea;
  --lui-color-green-2: #a9efb5;
  --lui-color-green-3: #76df87;
  --lui-color-green-4: #4fcf64;
  --lui-color-green-5: #2da943;
  --lui-color-green-6: #19822c;
  --lui-color-green-7: #0c5c1b;
  --lui-color-green-8: #05360f;
  --lui-color-green-9: #010f04;
  --lui-color-orange-1: #ffc5ad;
  --lui-color-orange-2: #ffab7d;
  --lui-color-orange-3: #ff9a50;
  --lui-color-orange-4: #ff922b;
  --lui-color-orange-5: #dc730d;
  --lui-color-orange-6: #ba5c00;
  --lui-color-orange-7: #974a00;
  --lui-color-orange-8: #743800;
  --lui-color-orange-9: #522600;
  --lui-color-red-1: #ffdbdb;
  --lui-color-red-2: #fda9a9;
  --lui-color-red-3: #fc7979;
  --lui-color-red-4: #fa5252;
  --lui-color-red-5: #d43332;
  --lui-color-red-6: #ae201e;
  --lui-color-red-7: #891412;
  --lui-color-red-8: #630d0b;
  --lui-color-red-9: #3d0806;
  --lui-color-violet-1: #edd6ff;
  --lui-color-violet-2: #d9adff;
  --lui-color-violet-3: #c184ff;
  --lui-color-violet-4: #ab66ff;
  --lui-color-violet-5: #8733ff;
  --lui-color-violet-6: #6825db;
  --lui-color-violet-7: #4d19b7;
  --lui-color-violet-8: #351093;
  --lui-color-violet-9: #25097a;
  --lui-elevation-base: 0 0 8px 0 rgba(0,0,0,0.02), 0 4px 12px 0 rgba(0,0,0,0.04);
  --lui-elevation-hovered: 0 0 8px 0 rgba(0,0,0,0.04), 0 8px 16px 0 rgba(0,0,0,0.08);
  --lui-elevation-floating: 0 0 8px 0 rgba(0,0,0,0.04), 0 12px 20px 0 rgba(0,0,0,0.12);
  --lui-elevation-overlay: 0 1px 8px 0 rgba(0,0,0,0.04), 0 16px 24px 0 rgba(0,0,0,0.16);
  --lui-brand-spacing-2xs: clamp(0.15rem, lui.brand.spacing.2xs.val, 0.25rem);
  --lui-brand-spacing-1xs: clamp(0.25rem, calc(0.1786rem + 0.3571vw), 0.5rem);
  --lui-brand-spacing-sm: clamp(0.5rem, calc(0.4286rem + 0.3571vw), 0.75rem);
  --lui-brand-spacing-md: clamp(0.75rem, calc(0.6786rem + 0.3571vw), 1rem);
  --lui-brand-spacing-lg: clamp(1.25rem, calc(1.1786rem + 0.3571vw), 1.5rem);
  --lui-brand-spacing-1xl: clamp(1.5rem, calc(1.3571rem + 0.7143vw), 2rem);
  --lui-brand-typography-font-family-heading: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; /** Default font for heading texts */
  --lui-brand-typography-font-family-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; /** Default font for body texts */
  --lui-brand-typography-font-size-3xs: clamp(0.691rem, 0.6901rem + 0.0043vw, 0.694rem);
  --lui-brand-typography-font-size-2xs: clamp(0.778rem, 0.7623rem + 0.0786vw, 0.833rem);
  --lui-brand-typography-font-size-1xs: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
  --lui-brand-typography-font-size-sm: clamp(0.984rem, 0.9223rem + 0.3086vw, 1.2rem);
  --lui-brand-typography-font-size-md: clamp(1.107rem, 1.0119rem + 0.4757vw, 1.44rem);
  --lui-brand-typography-font-size-lg: clamp(1.246rem, 1.1083rem + 0.6886vw, 1.728rem);
  --lui-brand-typography-font-size-1xl: clamp(1.402rem, 1.21rem + 0.96vw, 2.074rem);
  --lui-brand-typography-font-size-2xl: clamp(1.577rem, 1.3167rem + 1.3014vw, 2.488rem);
  --lui-brand-typography-font-size-3xl: clamp(2.245rem, 1.6579rem + 2.9357vw, 4.3rem);
  --lui-brand-border-radius-1xs: 4px;
  --lui-brand-border-radius-sm: 8px;
  --lui-brand-border-radius-md: 12px;
  --lui-brand-border-radius-lg: 16px;
}
