[hidden] { display: none !important; }
input { color: #000 !important; }

body {
  overflow: scroll;
}

h2, h3, p {
  width: 100%;
  text-align: left;
}

section {
  h1, h2, h3, .paragraph p {
    max-width: 560px;
  }
}

.paragraph {
  > p+p {
    margin-top: var(--lui-spacing-fixed-24);
  }
}

h3+div>p,
h3+p {
  margin-top: var(--lui-spacing-fixed-8);
}

.portfolio-container {
  width: 800px;
  margin: 0 auto;
  padding-bottom: var(--lui-spacing-fixed-80);
}

// Hero
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--lui-spacing-fixed-40);
  margin-bottom: var(--lui-spacing-fixed-80);

  & img {
    border-radius: 24px;
    width: 800px;
    height: 400px;
    object-fit: cover;
  }
}

// Card
.card {
  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: var(--lui-spacing-fixed-24);
    width: 100%;

    @media (min-width: 1024px) {
      margin: var(--lui-spacing-fixed-56) 0;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &-role {
    display: flex;
    gap: var(--lui-spacing-fixed-16);
    max-width: 560px;

    > .card-glass {
      flex: 1;
      width: 560px;
      padding: var(--lui-spacing-fixed-16);
      align-items: center;
    }
  }
  
  &-detail {
    padding: var(--lui-spacing-fixed-24);
    border-radius: 32px;
    height: 100%;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-4px);
    }

    img {
      border-radius: var(--lui-border-radius-16);
      width: 100%;
      height: 100%;
      max-height: 280px;
      object-fit: cover;
    }
  }

  &-testimonial {
    display: flex;
    flex-direction: column;
    gap: var(--lui-spacing-fixed-16);
    margin: var(--lui-spacing-fixed-56);
    width: 100%;

    > .card-glass {
      @media (min-width: 1024px) {
        flex-direction: row;
      }
    }
  }
}

// Sections
section {
  display: flex !important;
  flex-direction: column;
  align-items: center;

  +section,
  .paragraph + h3 {
    margin-top: var(--lui-spacing-fixed-56);
  }

  >h2+.paragraph p,
  >h2+h3 {
    margin-top: var(--lui-spacing-fixed-16);
  }
}

// Password
.project- {
  &preview {
    margin-bottom: var(--lui-spacing-fixed-24);
    user-select: none;

    h3, p {
      filter: blur(4px);
    }
  }
  &lock {
    opacity: 0;
    transform: translateY(32px);
    transition:
    opacity 0.6s ease,
    transform 0.6s ease;
    
    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #090a0b;
}

::-webkit-scrollbar-thumb {
  background: #2b2c2d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #373839;
}
