body {
    background-color: #efebed;
    font-family: 'Geist', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 80px 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin: 0 auto;
  gap: 80px;
}

a {
  text-decoration: none;
}

main {
  &.hero {
    > img {
      filter: grayscale(100%);
      border-radius: 24px;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }

    .content {
      p:first-of-type {
        opacity: .8;
        font-style: italic;
        margin-bottom: 16px;
      }
    }

    .links {
      margin-top: 16px;

        display: flex;
        flex-direction: row;
        gap: 16px;
    }
  }
}

section {
  .project {
    transition: transform 0.2s;

    img {
      width: 100%;
      height: 320px;
      border-radius: 16px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &:hover {
      transform: translateY(-4px);
    }
  }
}