body {
    background-color: #efebed;
    font-family: 'Geist', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 640px;
}

main {
  &.hero {
    > img {
      filter: grayscale(100%);
      border-radius: 24px;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }
}