section {
  &.post-list {
    margin-top: 80px;
  }
}

.home-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;

  p + p {
    &::before {
      content: "/";
      margin: 0 8px;
      opacity: 0.4;
    }
  }
}

.post-header {
  display: flex;
  flex-direction: column;

  p:first-of-type {
    font-weight: 500;
  }
}

.post-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

article {
  time {
    white-space: nowrap;
    opacity: 0.8;
  }

  pre {
    padding: 16px;
    border-radius: 8px;
  }

  &.post {
    margin-bottom: 2rem;
    transition: transform 0.2s;
    width: 100%;

    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-decoration: none;
      color: inherit;
      gap: 16px;

      h2 {
        margin: 0 !important;
        font-size: 1.5rem;
      }
    }

    &:hover {
      transform: translateY(-4px);
    }
  }

  &.full-post {
    ul {
      list-style-position: inside;
    }

    p + p,
    p + h2,
    h2 + p,
    h2 + pre,
    pre + p,
    pre + h2,
    p + ul,
    ul + p,
    h2 + ul,
    ul + h2,
    p + h3,
    h3 + p,
    h2 + h3,
    ul + h3,
    h3 + ul,
    h3 + pre,
    pre + h3 {
      margin-top: 16px;
    }
  }
}
