html, body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Geist', Arial, sans-serif !important;
}

body {
  background-color: #efebed;
  color: #222;
  font-size: var(--lui-spacing-fixed-16);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #222;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin: 0 auto;
  gap: var(--lui-spacing-fluid-80);
}

main {
  &.hero {
    > img {
      filter: grayscale(100%);
      border-radius: 24px;
      width: var(--lui-spacing-fluid-80);
      height: var(--lui-spacing-fluid-80);
      object-fit: cover;
    }

    .content {
      p:first-of-type {
        opacity: .8;
        font-style: italic;
        margin-bottom: var(--lui-spacing-fixed-16);
      }
    }

    .links {
      margin-top: var(--lui-spacing-fixed-16);

        display: flex;
        flex-direction: row;
        gap: var(--lui-spacing-fixed-16);
    }
  }
}

.desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--lui-spacing-fluid-16);

  > div {
    display: flex;
    gap: var(--lui-spacing-fixed-16);
  }

  a {
    cursor: pointer;
  }
}

.project-list > a.project-item {
  display: block;
  margin-bottom: 40px;
}

.project-list > a.project-item:last-child {
  margin-bottom: 0;
}



section {
  &.project-list {
    margin-bottom: 80px;
  }

  h2 {
    margin-bottom: var(--lui-spacing-fixed-8);
  }

  .project {
    transition: transform 0.2s;

    img {
      width: 100%;
      height: 320px;
      border-radius: var(--lui-spacing-fixed-16);
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &:hover {
      transform: translateY(-4px);
    }
  }
}