body { background-color: #090A0B; }

a.icon-button,
nav>a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    padding: 16px;
    gap: 16px;
    flex-direction: column;
    border-radius: 9999px;
    background: #0e0f10;
    border: 1px solid #202121;
}

.nav-menu {
    background: #2b2c2d;
    border: 1px solid #373839;
}

.nav-menu-off, .icon-button { color: #ffffff; }
.nav-menu-on { color: #F2A531 !important; }
.nav-menu:hover { background-color: #1C1F21; }

.flex { display: flex; }

.main-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    gap: 40px;
}

.main-text { flex-direction: column; }

.main-text,
.social-media {
    gap: 16px;
}

.icon-button,
.nav-menu {
    padding: 8px;
    border-radius: 9999px;
    transition-duration: .16s;
}

.icon-button:hover { background: hsla(0, 0%, 100%, .08); }
.icon-button:active { background: hsla(0, 0%, 100%, .16); }

.icon-button i,
.nav-menu i {
    font-size: 24px;
}

.ease-entrance-default { animation: easeEntranceDefault 1s ease 0s 1 normal forwards; }
.ease-entrance-longer { animation: easeEntranceLonger 1.4s ease 0s 1 normal forwards; }
.ease-entrance-longer-2 { animation: easeEntranceLonger2 1.4s ease 0s 1 normal forwards; }

@keyframes easeEntranceDefault {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes easeEntranceLonger {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes easeEntranceLonger2 {
	0% {
		opacity: 0;
		transform: translateY(-120px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/*  */

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: #2B2C2D;
    border: #373839;
    font-size: 14px;
    color: #fff;
    border-radius: 999px;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-16%) translateY(-50%);
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 1;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    transform: translateX(48px) translateY(-50%);
    opacity: 1;
}

.blur {
    background: rgb(242, 165, 49);
    border-radius: 999px;
    height: 517px;
    width: 517px;
    opacity: .1;
    filter: blur(100px);
    position: absolute;
    left: 50%;
    top: -217px;
    transform: translateX(-50%);
}

.portfolio {
    margin-top: 160px;
}

.portfolio-item {
    padding: 32px;
    background: #0E0F10;
    border: 1px solid #1D1E1F;
    border-radius: 16px;
    align-items: center;
}

.tag {
    background: #2B2C2D;
    border: 1px solid #373839;
    border-radius: 999px;
    padding: 4px 8px;
    color: #fff;
    font-size: 12px;
}

.portfolio-item-text {
    flex-direction: column;
    gap: 24px;
}

.portfolio-tag-list {
    flex-wrap: wrap;
    gap: 8px;
}

article.portfolio-item img {
    width: 360px;
    height: 240px;
    border-radius: 12px;
    object-fit: cover;
}

section.portfolio a {
    text-decoration: none;
}