h1,
.title {
    font-size: 3.75rem;
    font-weight: 600;
}

h2,
.headline {
    font-size: 2.125rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
}

/*  */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.main-text h1 {
    margin-bottom: 16px;
}

.social-media {
    display: flex;
    margin-top: 24px;
}

.icon-button,
.nav-menu {
    padding: 8px;
    border-radius: 9999px;
    transition-duration: .16s;
}

.icon-button:hover {
    background: hsla(0, 0%, 100%, .08);
}

.icon-button:active {
    background: hsla(0, 0%, 100%, .16);
}

.icon-button i,
.nav-menu i {
    font-size: 24px;
}

.nav-menu {
    background: #2b2c2d;
    border: 1px solid #373839;
}

.nav-menu-off { color: #ffffff; }
.nav-menu-on { color: #F2A531 !important; }

.nav-menu:hover {
    background-color: #1C1F21;
}

nav {
    position: fixed;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    padding: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 9999px;
    background: #0e0f10;
    border: 1px solid #202121;
}