h1 {
    font-size: 3.75rem;
    font-weight: 600;
}

h2 {
    font-size: 2.125rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
	line-height: 150%;
}

h1, h2, h3, h4, h5, h6, p { color: #ffffff; }
h1, h2, h3, h4, h5, h6 { line-height: 110%; }