:root {
    --typography-heading-font: 'DM Sans', Arial, sans-serif;
    --typography-body-font: 'DM Sans', Arial, sans-serif;

    --color-brand-1: hsl(252, 100%, 97%);
    --color-brand-2: hsl(256, 100%, 87%);
    --color-brand-3: hsl(255, 94%, 79%);
    --color-brand-4: hsl(255, 93%, 72%);
    --color-brand-5: hsl(255, 91%, 67%);
    --color-brand-6: hsl(255, 86%, 63%);
    --color-brand-7: hsl(255, 67%, 55%);
    --color-brand-8: hsl(255, 53%, 50%);
    --color-brand-9: hsl(255, 53%, 50%);
}