<div class="container">
  <div class="desktop">
    <div class="personal-info">
      <p class="body--sm" id="hora"></p>
      <p class="body--sm" id="clima"></p>
      <p class="body--sm" id="spotify"></p>
    </div>
    <div class="site-controls">
      <a
        class="body--sm link"
        id="lang-switch"
        data-i18n="language"
        data-link="language"
      ></a>
      <label class="theme-toggle" aria-label="Alternar tema">
        <input type="checkbox" id="theme-toggle" />
        <div class="theme-toggle__track">
          <div class="theme-toggle__thumb"></div>
          <div class="theme-toggle__icon theme-toggle__icon--sun">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
              <g clip-path="url(#a)"><path fill="var(--lui-color-secondary-icon-default)" d="M7.5 2.5V1a.5.5 0 0 1 1 0v1.5a.5.5 0 1 1-1 0ZM12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0Zm-1 0a3 3 0 1 0-6 0 3 3 0 0 0 6 0ZM3.646 4.354a.5.5 0 1 0 .708-.708l-1-1a.5.5 0 1 0-.708.708l1 1Zm0 7.292-1 1a.5.5 0 0 0 .708.708l1-1a.501.501 0 0 0-.708-.708ZM12 4.5a.5.5 0 0 0 .354-.146l1-1a.5.5 0 0 0-.708-.708l-1 1A.5.5 0 0 0 12 4.5Zm.354 7.146a.5.5 0 0 0-.708.708l1 1a.501.501 0 0 0 .708-.708l-1-1ZM3 8a.5.5 0 0 0-.5-.5H1a.5.5 0 0 0 0 1h1.5A.5.5 0 0 0 3 8Zm5 5a.5.5 0 0 0-.5.5V15a.5.5 0 0 0 1 0v-1.5A.5.5 0 0 0 8 13Zm7-5.5h-1.5a.5.5 0 0 0 0 1H15a.5.5 0 0 0 0-1Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M0 0h16v16H0z"/></clipPath></defs>
            </svg>
          </div>
          <div class="theme-toggle__icon theme-toggle__icon--moon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
              <path fill="var(--lui-color-secondary-icon-default)" d="M14.596 8.89a.5.5 0 0 0-.5-.126 5.505 5.505 0 0 1-6.862-6.862.5.5 0 0 0-.625-.625A6.5 6.5 0 0 0 8.5 14a6.443 6.443 0 0 0 3.908-1.305 6.553 6.553 0 0 0 2.312-3.307.5.5 0 0 0-.124-.499Zm-2.79 3.006a5.5 5.5 0 1 1-5.74-9.327 6.507 6.507 0 0 0 7.366 7.364 5.562 5.562 0 0 1-1.626 1.963Z"/>
            </svg>
          </div>
        </div>
      </label>
    </div>
  </div>

  <main class="about">
    <div>
      <p class="body--md">
        <a href="/" class="link" aria-label="Ir para a página inicial"
          >Voltar para a página inicial</a
        >
      </p>
    </div>
    <div class="about-info">
      <h1 class="title" data-i18n="menu-about"></h1>
      <p class="body--lg" data-i18n="about"></p>
    </div>
  </main>

  <section>
    <h2 class="headline">Lives</h2>
    <ul class="list-none">
      <li>
        <a
          class="link"
          href="https://www.youtube.com/watch?v=XQzSx8zJ6hQ"
          target="_blank"
          >Design System além do layout</a
        >
        <p class="body--md">Casa do Código, 2025</p>
      </li>
      <li>
        <a
          class="link"
          href="https://www.youtube.com/watch?v=uYTbn3Y-kOI"
          target="_blank"
          >Vibe Design e os novos tempos</a
        >
        <p class="body--md">Homem Máquina, 2025</p>
      </li>
      <li>
        <a
          class="link"
          href="https://www.youtube.com/watch?v=_OqW10C0d-Y"
          target="_blank"
          >Como escalar produtos sem comprometer a usabilidade?</a
        >
        <p class="body--md">Homem Máquina, 2025</p>
      </li>
    </ul>
  </section>

  <section>
    <h2 class="headline">Cursos</h2>
    <ul class="list-none">
      <li>
        <a
          class="link"
          href="https://www.alura.com.br/formacao-design-system"
          target="_blank"
          >Formação Design System</a
        >
        <p class="body--md">Alura, 2024</p>
      </li>
      <li>
        <a
          class="link"
          href="https://www.alura.com.br/formacao-ui-design-construindo-produto-digital"
          target="_blank"
          >Formação User Interface</a
        >
        <p class="body--md">Alura, 2024</p>
      </li>
      <li>
        <a
          class="link"
          href="https://www.alura.com.br/formacao-figma"
          target="_blank"
          >Formação Figma</a
        >
        <p class="body--md">Alura, 2025</p>
      </li>
    </ul>
  </section>

  <section>
    <h2 class="headline">Palestras</h2>
    <ul class="list-none">
      <li>
        <p class="body--lg">
          Desmistificando o Design System, a divindade dos produtos digitais.
        </p>
        <p class="body--md">TDC, 2023</p>
      </li>
      <li>
        <p class="body--lg">Locaweb Design System</p>
        <p class="body--md">UX Team Summit, 2022</p>
      </li>
      <li>
        <p class="body--lg">User Interface Design</p>
        <p class="body--md">SEMAC XXXII, 2022</p>
      </li>
    </ul>
  </section>
</div>
