<div class="container">
  <div class="desktop">
    <div class="personal-info">
      <p class="body--sm" id="hora"></p>
      <p class="body--sm" id="clima"></p>
      <p class="body--sm" id="spotify"></p>
    </div>
    <div class="site-controls">
      <a
        class="body--sm link"
        id="lang-switch"
        data-i18n="language"
        data-link="language"
      ></a>
      <label class="theme-toggle body--sm" aria-label="Alternar tema">
        <input type="checkbox" id="theme-toggle" />
        <span class="icon"></span>
      </label>
    </div>
  </div>

  <main class="about">
    <div>
      <p class="body--md">
        <a href="index.html" class="link" aria-label="Ir para a página inicial"
          >Voltar para a página inicial</a
        >
      </p>
    </div>
    <div class="about-info">
      <h1 class="title">Mateus Villain</h1>
      <p class="body--lg">
        Mateus Villain é um product designer e especialista em design systems,
        responsável pelo design system da Locaweb e KingHost, professor de UX, e
        autor do livro Design System além do layout: Criação, estratégia e
        governança.
      </p>
    </div>
  </main>

  <section>
    <h2 class="headline">Lives</h2>
    <ul class="list-none">
      <li>
        <a
          class="link"
          href="https://www.youtube.com/watch?v=XQzSx8zJ6hQ"
          target="_blank"
          >Design System além do layout</a
        >
        <p class="body--md">Casa do Código, 2025</p>
      </li>
      <li>
        <a
          class="link"
          href="https://www.youtube.com/watch?v=uYTbn3Y-kOI"
          target="_blank"
          >Vibe Design e os novos tempos</a
        >
        <p class="body--md">Homem Máquina, 2025</p>
      </li>
      <li>
        <a
          class="link"
          href="https://www.youtube.com/watch?v=_OqW10C0d-Y"
          target="_blank"
          >Como escalar produtos sem comprometer a usabilidade?</a
        >
        <p class="body--md">Homem Máquina, 2025</p>
      </li>
    </ul>
  </section>

  <section>
    <h2 class="headline">Cursos</h2>
    <ul class="list-none">
      <li>
        <a
          class="link"
          href="https://www.alura.com.br/formacao-design-system"
          target="_blank"
          >Formação Design System</a
        >
        <p class="body--md">Alura, 2024</p>
      </li>
      <li>
        <a
          class="link"
          href="https://www.alura.com.br/formacao-ui-design-construindo-produto-digital"
          target="_blank"
          >Formação User Interface</a
        >
        <p class="body--md">Alura, 2024</p>
      </li>
      <li>
        <a
          class="link"
          href="https://www.alura.com.br/formacao-figma"
          target="_blank"
          >Formação Figma</a
        >
        <p class="body--md">Alura, 2025</p>
      </li>
    </ul>
  </section>

  <section>
    <h2 class="headline">Palestras</h2>
    <ul class="list-none">
      <li>
        <p class="body--lg">
          Desmistificando o Design System, a divindade dos produtos digitais.
        </p>
        <p class="body--md">TDC, 2023</p>
      </li>
      <li>
        <p class="body--lg">Locaweb Design System</p>
        <p class="body--md">UX Team Summit, 2022</p>
      </li>
      <li>
        <p class="body--lg">User Interface Design</p>
        <p class="body--md">SEMAC XXXII, 2022</p>
      </li>
    </ul>
  </section>
</div>
