<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{title}}</title>

<!-- Meta -->
<meta name="title" content="{{title}}" />
<meta name="description" content="{{description}}" />
<meta
  name="keywords"
  content="Design System, User Interface, UI, User Experience, UX, Acessibilidade, Handoff"
/>
<meta name="robots" content="index, follow" />
<meta name="author" content="Mateus Villain" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{canonical}}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:image" content="img/cover.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{canonical}}" />
<meta property="twitter:title" content="{{title}}" />
<meta property="twitter:description" content="{{description}}" />
<meta property="twitter:image" content="img/cover.png" />

<link rel="icon" type="image/x-icon" href="img/favicon.png" />

<!-- Google Tag Manager -->
<script>
  ;(function (w, d, s, l, i) {
    w[l] = w[l] || []
    w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != 'dataLayer' ? '&l=' + l : ''
    j.async = true
    j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
    f.parentNode.insertBefore(j, f)
  })(window, document, 'script', 'dataLayer', 'GTM-NTD9ZL6W')
</script>

<link rel="stylesheet" href="style.css" />

<link
  rel="preload"
  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
  as="style"
  onload="this.rel = 'stylesheet'"
/>

<link
  rel="preload"
  href="fonts/Geist-VariableFont_wght.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="fonts/GoogleSansCode-VariableFont_wght.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
