<div class="container">
  <div class="desktop">
    <div class="personal-info">
      <p class="body--sm" id="hora"></p>
      <p class="body--sm" id="clima"></p>
      <p class="body--sm" id="spotify"></p>
    </div>
    <div class="site-controls">
      <!-- <label class="theme-toggle body--sm" aria-label="Alternar tema">
        <input type="checkbox" id="theme-toggle" />
        <span class="icon"></span>
      </label> -->
      <a
        class="body--sm link"
        id="lang-switch"
        data-i18n="language"
        data-link="language"
      ></a>
    </div>
  </div>

  <main class="hero">
    <img src="img/mtsvlln.jpg" alt="" />
    <h1>Mateus Villain <span id="mood" aria-label="false"></span></h1>

    <div class="content">
      <p data-i18n="role"></p>
      <p data-i18n="about"></p>
    </div>

    <div class="links">
      <p>
        <a class="link" href="blog">Blog</a>
      </p>
      <p>
        <a
          class="link"
          href="https://www.casadocodigo.com.br/products/livro-design-system"
          data-i18n="menu-book"
        ></a>
      </p>
      <p>
        <a class="link" href="https://linkedin.com/in/mateusvillain/"
          >LinkedIn</a
        >
      </p>
      <p>
        <a class="link" href="https://github.com/mateusvillain/">GitHub</a>
      </p>
    </div>
  </main>

  <section class="project-list">
    <h2 data-i18n="projects"></h2>
    <a href="locaweb-design-system.html" class="project-item">
      <div class="project">
        <img src="img/locaweb-design-system.jpg" alt="" />
        <div class="project-content">
          <h3 data-i18n="locaweb-title"></h3>
          <p data-i18n="locaweb-description"></p>
        </div>
      </div>
    </a>
    <a href="https://github.com/mateusvillain/lets-ui-css/" target="_blank">
      <div class="project">
        <img src="img/lets-ui.jpg" alt="" />
        <div class="project-content">
          <h3 data-i18n="letsui-title"></h3>
          <p data-i18n="letsui-description"></p>
        </div>
      </div>
    </a>
  </section>
</div>

<script>
  const toggle = document.getElementById("theme-toggle");
  const root = document.documentElement;

  const savedTheme = localStorage.getItem("theme");

  if (savedTheme) {
    root.setAttribute("data-theme", savedTheme);
    toggle.checked = savedTheme === "dark";
  }

  toggle.addEventListener("change", () => {
    const theme = toggle.checked ? "dark" : "light";
    root.setAttribute("data-theme", theme);
    localStorage.setItem("theme", theme);
  });
</script>
