<div class="container">
  <div class="desktop">
    <div class="personal-info">
      <p class="body--sm" id="hora"></p>
      <p class="body--sm" id="clima"></p>
      <p class="body--sm" id="spotify"></p>
    </div>
    <div class="site-controls">
      <label class="theme-toggle body--sm" aria-label="Alternar tema">
        <input type="checkbox" id="theme-toggle" />
        <span class="icon"></span>
      </label>
    </div>
  </div>

  <main class="hero">
    <a href="/" class="body--md link" aria-label="Ir para a página inicial"
      >Voltar para a página inicial</a
    >
    <div class="m-t-fluid-16">
      <h1 class="title">Mentorias</h1>
      <p class="body--lg">
        Se você precisa de ajuda com algum assunto ou quer um acompanhamento em
        algum projeto que você está ou será responsável, fique à vontade para
        marcar uma mentoria.
      </p>
      <div class="alert alert--success m-t-fluid-24">
        <div class="alert__content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              fill="#2DA943"
              fill-rule="evenodd"
              d="M19.5 12a7.5 7.5 0 1 1-15 0 7.5 7.5 0 0 1 15 0Zm1.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-10.5 4.06 6.53-6.53-1.06-1.06-5.47 5.47-2.47-2.47-1.06 1.06 3.53 3.53Z"
              clip-rule="evenodd"
            />
          </svg>
          <div class="alert__text">
            <p class="body--lg">Agenda de mentorias aberta!</p>
            <p class="body--lg">
              Entre em contato comigo via
              <a href="https://linkedin.com/in/mateusvillain" class="link"
                >LinkedIn</a
              >
              ou pelo e-mail
              <a href="mailto:mentoria@mateusvillain.com" class="link"
                >mentoria@mateusvillain.com</a
              >
              para agendar suas mentorias.
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <section class="flex flex-col">
    <ul class="no-list flex flex-col gap-fluid-40">
      <li class="flex flex-col gap-fluid-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="none"
          viewBox="0 0 32 32"
        >
          <path
            fill="#131519"
            d="M27 5H17V3a1 1 0 0 0-2 0v2H5a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h4.92l-2.701 3.375a1 1 0 0 0 1.562 1.25L12.48 24h7.04l3.699 4.625a1 1 0 1 0 1.562-1.25L22.08 24H27a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Zm0 17H5V7h22v15Z"
          />
        </svg>
        <div class="flex flex-col gap-fluid-4">
          <p class="body--lg text-bold">Quais os temas?</p>
          <p class="body--lg">
            O principal tema pedido nas mentorias é design system, mas podemos
            tratar de outros assuntos, como UI, inteligência artificial ou
            recursos de desenvolvimento mas para designers:
          </p>
          <div class="flex flex-wrap gap-fluid-8 m-t-fluid-16">
            <span class="tag--md tag--surface-primary">Design System</span>
            <span class="tag--md tag--surface-primary">Design Tokens</span>
            <span class="tag--md tag--surface-primary">Git</span>
            <span class="tag--md tag--surface-primary">Figma MCP</span>
            <span class="tag--md tag--surface-primary">User Interface</span>
            <span class="tag--md tag--surface-primary">HTML e CSS</span>
            <span class="tag--md tag--surface-primary">Acessibilidade</span>
            <span class="tag--md tag--surface-primary">Handoff</span>
            <span class="tag--md tag--surface-primary">Framer</span>
          </div>
        </div>
      </li>
      <li class="flex flex-col gap-fluid-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="none"
          viewBox="0 0 32 32"
        >
          <path
            fill="#131519"
            d="M25 9.455V5a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v4.5a2.009 2.009 0 0 0 .8 1.6l6.534 4.9L7.8 20.9a2.01 2.01 0 0 0-.8 1.6V27a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4.455a2.01 2.01 0 0 0-.794-1.596L17.66 16l6.547-4.95A2.006 2.006 0 0 0 25 9.455ZM9 5h14v4.455l-.721.545H9.666L9 9.5V5Zm7 9.75L12.334 12h7.3L16 14.75ZM23 27H9v-4.5l6-4.5v3a1 1 0 0 0 2 0v-2.99l6 4.535V27Z"
          />
        </svg>
        <p class="body--lg text-bold">Qual a duração de mentoria?</p>
        <p class="body--lg">
          A duração mínima da mentoria é de 1 hora, mas totalmente aberto para
          estendermos se for necessário.
        </p>
      </li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="none"
          viewBox="0 0 32 32"
        >
          <path
            fill="#131519"
            d="M27 5H5a2 2 0 0 0-2 2v18a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Zm0 10h-6V7h6v8ZM5 7h14v18H5V7Zm22 18h-6v-8h6v8Zm-4.5-14a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm3 10a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm-8.531-.25a4.97 4.97 0 0 0-2.149-2.918 4 4 0 1 0-5.64 0 4.98 4.98 0 0 0-2.149 2.918 1 1 0 1 0 1.938.5C9.299 19.969 10.6 19 12 19c1.399 0 2.703.966 3.031 2.25a1 1 0 0 0 1.938-.5ZM10 15a2 2 0 1 1 4 0 2 2 0 0 1-4 0Z"
          />
        </svg>
        <p class="body--lg text-bold">Onde a mentoria é feita?</p>
        <p class="body--lg">As mentorias são feitas pelo Google Meet.</p>
      </li>
    </ul>
  </section>

  <section class="flex flex-col gap-fluid-24">
    <h2 class="headline">Categorias e valores</h2>

    <!-- Mentoria -->
    <div class="card card__border">
      <div class="card__body">
        <div class="flex flex-col gap-fluid-4">
          <h3 class="block-title">Mentoria</h3>
          <p class="body--lg">
            Mentoria 1:1 focada em te dar clareza e direcionamento prático.
            Ideal para quem quer evoluir mais rápido em design system, UI ou
            tomar decisões melhores na carreira.
          </p>
        </div>
        <ul class="no-list flex flex-col gap-fluid-8 m-y-fluid-24">
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">1 hora de mentoria</p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">Suporte e contato por WhatsApp</p>
          </li>
        </ul>
        <p class="flex content-center gap-fluid-2">
          <span class="subheadline text-bold">R$ 120</span>
          <span class="body--md m-t-fluid-2">/sessão</span>
        </p>
      </div>
    </div>

    <!-- Acompanhamento -->
    <div class="card card__border">
      <div class="card__body">
        <div class="flex flex-col gap-fluid-4">
          <h3 class="block-title">Acompanhamento</h3>
          <p class="body--lg">
            Um acompanhamento contínuo para evolução consistente. Aqui o foco é
            sair da conversa e gerar resultado real no seu dia a dia como
            designer.
          </p>
        </div>
        <ul class="no-list flex flex-col gap-fluid-8 m-y-fluid-24">
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">1 hora de mentoria</p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">4 encontros por mês</p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">Acesso a materiais e ferramentas exclusivas</p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">Plano de evolução personalizado</p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">Suporte e contato por WhatsApp</p>
          </li>
        </ul>
        <p class="flex content-center gap-fluid-2">
          <span class="subheadline text-bold">R$ 108</span>
          <span class="body--md m-t-fluid-2">/sessão</span>
        </p>
      </div>
    </div>

    <!-- Consultoria -->
    <div class="card card__border">
      <div class="card__body">
        <div class="flex flex-col gap-fluid-4">
          <h3 class="block-title">Consultoria</h3>
          <p class="body--lg">
            Consultoria voltada para empresas que precisam estruturar, evoluir
            ou destravar seu design system e processos de design.
          </p>
        </div>
        <ul class="no-list flex flex-col gap-fluid-8 m-y-fluid-24">
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">Criação ou evolução de design system</p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">
              Mapeamento de problemas (UI inconsistente, retrabalho, etc.)
            </p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">
              Plano de ação estruturado (prioridades + roadmap)
            </p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">Workshops com time (mão na massa)</p>
          </li>
          <li class="flex gap-fluid-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="#8733FF"
                d="m21.53 7.28-12 12a.752.752 0 0 1-1.06 0l-5.25-5.25a.75.75 0 0 1 1.06-1.06L9 17.69 20.47 6.22a.75.75 0 1 1 1.06 1.06Z"
              />
            </svg>
            <p class="body--lg">
              3 livros físicos de Design System além do layout
            </p>
          </li>
        </ul>
        <p class="body--lg">
          Envie um e-mail para
          <a href="mailto:contato@mateusvillain.com" class="link"
            >contato@mateusvillain.com</a
          >
          para agendarmos uma conversa.
        </p>
      </div>
    </div>
  </section>

  <section class="flex flex-col gap-fluid-24">
    <h2 class="headline">Perguntas frequentes</h2>
    <div class="flex flex-col gap-fluid-16">
      <div class="faq-item flex flex-col gap-fluid-4">
        <h3 class="body--lg text-bold">Como funcionam as mentorias?</h3>
        <p class="body--lg">
          As mentorias são realizadas com um ou mais temas que você decidir, no
          dia e horário que for mais confortável para você. Durante a mentoria,
          fico totalmente aberto para você trazer o que quiser. Podem ser
          dúvidas, ajuda com portfólio ou projetos na empresa, acompanhamento na
          construção de um produto... Quem decide é você!
        </p>
      </div>
      <div class="faq-item flex flex-col gap-fluid-4">
        <h3 class="body--lg text-bold">É possível gravar as mentorias?</h3>
        <p class="body--lg">
          Normalmente as mentorias não são gravadas, mas podemos alinhar isso e
          realizar a gravação pelo próprio Google Meet.
        </p>
      </div>
      <div class="faq-item flex flex-col gap-fluid-4">
        <h3 class="body--lg text-bold">Como funcionam os reagendamentos?</h3>
        <p class="body--lg">
          Reagendar o dia e o horário de uma mentoria é perfeitamente aceitável,
          mas para que eu possa me organizar, peço apenas que me avise com pelo
          menos 1 dia de antecedência.
        </p>
      </div>
      <div class="faq-item flex flex-col gap-fluid-4">
        <h3 class="body--lg text-bold">Qual a forma de pagamento?</h3>
        <p class="body--lg">A forma de pagamento aceita no momento é Pix.</p>
      </div>
      <div class="faq-item flex flex-col gap-fluid-4">
        <h3 class="body--lg text-bold">Posso solicitar nota fiscal?</h3>
        <p class="body--lg">
          Sim! Caso você precise solicitar a nota fiscal, basta apenas me avisar
          que farei o emissão. Para isso, precisarei de algumas informações suas
          ou da sua empresa.
        </p>
      </div>
    </div>
  </section>
</div>
