@font-face {
  font-family: 'Geist';
  src: url('fonts/Geist-VariableFont_wght.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Google Sans';
  src: url('fonts/GoogleSansCode-VariableFont_wght.woff2') format('woff2');
  font-display: swap;
}
